$txt-8: rem(8);
$txt-10: rem(10);
$txt-12: rem(12);
$txt-14: rem(14);
$txt-16: rem(16);
$txt-18: rem(18);
$txt-20: rem(20);
$txt-22: rem(22);
$txt-24: rem(24);
$txt-28: rem(28);
$txt-32: rem(32);
$txt-36: rem(36);
$txt-40: rem(40);
$txt-42: rem(42);
$txt-52: rem(52);
$txt-54: rem(54);
$txt-64: rem(64);
$txt-70: rem(70);
$txt-72: rem(72);
$txt-75: rem(75);
$txt-90: rem(90);
$txt-104: rem(104);
$txt-150: rem(150);
$txt-200: rem(200);
$txt-250: rem(250);

// %txt {
//     font-family: $font-primary;
//     font-style: normal;
//     font-weight: 400;
//     line-height: normal;
// }
